<!DOCTYPE html>
<html lang="en-us">
    <head>        
        <meta charset="UTF-8">
        <link id="favicon" rel="icon" type="image/png" href="">
        <link rel="stylesheet" href="../../styles.css">
        <title id="title">TeachingBerry | Maths</title>
    </head>
    <body>
        <nav>
            <li>
                <h1>Welcome to !</h1>
            </li>
            <ul>
                <li>
                    <a href="../../index.html">Home</a>
                </li>
                <li>
                    <a href="https://www.essentialassessment.com.au/student/">Essential Assessment</a>
                </li>
                <li>
                    <a href="https://www.studyladder.com.au/student">StudyLadder</a>
                </li>
            </ul>
            <br>
            <button onclick="teachingBerry()">Original</button>
            <button onclick="essentialAssessment()">Essential Assessment</button>
            <button onclick="patTesting()">PAT Testing</button>
            <button onclick="studyladder()">StudyLadder</button>
            <button onclick="nothing()">Nothing</button>
            <button onclick="newTab()">New Tab</button>
            <button onclick="seesaw()">Seesaw</button>
        </nav>
        <div>
            
        </div>
        <script src="../gamescript.js"></script>
    </body>
</html>